pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #f5f5f5;
  background-color: #3a3f44;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.blue {
  color: #347fc4;
}

.green {
  color: #27ae60;
}

.red {
  color: #c41907;
}

.orange {
  color: #cd6735;
}

table {
  min-width: 350px;
  color: #4c4c4c;
  line-height: 1.2;
}
table tr td:nth-child(2) {
  color: #008080;
}
table tr td:nth-child(3) i {
  color: red;
}

i {
  color: gray;
}

/*# sourceMappingURL=layout.css.map */
