pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #f5f5f5;
    background-color: #3a3f44;
    border: 1px solid #cccccc;
    border-radius: 4px;
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}


.blue{
    color: rgb(52, 127, 196);
}
.green{
    color: rgb(39, 174, 96);
}
.red{
    color: rgb(196, 25, 7);
}
.orange{
    color: rgb(205, 103, 53);
}

table{
    min-width:350px;
    color: #4c4c4c;
    line-height: 1.2;
    tr{
        td{
            &:nth-child(2){
                color: #008080;
            }
            &:nth-child(3){
                i{
                    color: red;
                }
            }
        }
    }
}

i{
    color:gray;
}
